@media screen and (orientation: landscape) {
    .preview {
        width: 72em;
    }

    .settings {
        width: 24em;
    }
}

@media screen and (orientation: portrait) {
    .preview {
        width: 100%;
    }

    .settings {
        width: 100%;
    }
}

.preview {
    display: flex;
    height: fit-content;
    overflow: hidden;
    border-radius: 1em;
}

.settings {
    flex-shrink: 0;
}