:root {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    color-scheme: dark;
    text-align: center;
}

@media screen and (orientation: landscape) {
    header {
        font-size: 1.5em;
    }

    footer {
        font-size: 1em;
    }

    .app {
        flex-direction: row;
        justify-content: center;
    }

    .preview {
        width: 72em;
    }

    .settings {
        width: 24em;
    }
}

@media screen and (orientation: portrait) {
    header {
        font-size: .75em;
    }

    footer {
        font-size: .5em;
    }

    .app {
        flex-direction: column;
        align-items: center;
    }

    .preview {
        width: 100%;
    }

    .settings {
        width: 100%;
    }
}

header {
    display: flex;
    padding: .5em;
    font-weight: 500;
    justify-content: space-between;
}

.app {
    display: flex;
    gap: 1em;
    width: 100%;
    margin: 1em auto 1em auto;
}

.preview {
    display: flex;
    overflow: auto;
    height: fit-content;
    border-radius: 1em;
}