:root {
    /* color varibles dark */
    --bg1: hsl(220 5 10);
    --bg2: hsl(220 7 12);
    --bg3: hsl(220 8 14);
    --fg1: hsl(0 0 20);
    --fg2: hsl(0 0 50);
    --fg3: hsl(0 0 100);
    --glass-dark: hsl(0 0 0 / .15);
    --glass-light: hsl(0 0 100 / .01);
    --glass-lighter: hsl(0 0 100 / .05);
    --stroke: hsl(0 0 100 / .1);
    --stroke-lighter: hsl(0 0 100 / .2);
    --button: hsl(220 10 20);

    /* filter varibles */
    --drop-shadow: drop-shadow(0 .25rem .5rem hsl(0 0 0 / .15));

    /* typo */
    font-family: 'Quicksand Variable', 'Noto Sans SC Variable', 'Noto Sans TC Variable', 'Noto Sans JP Variable', 'Noto Sans KR Variable', sans-serif;
    font-size: 16px;

    /* visual */
    color-scheme: dark;
    -webkit-tap-highlight-color: transparent;
}

*::selection {
    /* visual */
    background-color: hsl(0 0 100 / .20);
}

body {
    /* box */
    margin: 0;

    /* visual */
    background-color: var(--bg1);
}

a,
a:active,
a:visited {
    /* typo */
    color: inherit;
}