.panel {
    width: 100%;
    margin-bottom: 1em;
    overflow: hidden;
    border-radius: 1em;
}

.panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    cursor: pointer;
    background: hsl(0 0% 20%);
}

.panel-title {
    font-size: 1.5em;
    font-weight: 500;
}

.panel-status {
    font-size: 1em;
    font-weight: 700;
    color: hsl(0 0% 30%);
}

.panel-container {
    display: flex;
    flex-direction: column;
    gap: .25em;
    align-items: flex-start;
    height: fit-content;
    padding: 1em;
    overflow: hidden;
    background: hsl(0 0% 15%);
}

.panel-container>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .25em;
    align-items: left;
    width: 100%;
}